.form-main {
  background-color: rgb(245, 245, 245);
  height: 530px;
  border-radius: 25px;
}
.field {
  border: none;
  text-decoration: none;
  width: 500px;
  outline: none;
  height: 40px;
  padding: 20px;
  border-radius: 30px;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  padding: 100px 50px;
}
.field-area {
  border: none;
  text-decoration: none;
  width: 500px;
  outline: none;
  height: 150px;
  padding: 30px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.btn-contact {
  background-color: rgb(226, 155, 79);
  border-radius: 50px;
  width: 500px;

  height: 50px;
  text-align: center;
}
.btn-contact:hover {
  background-color: rgb(212, 120, 7);
  color: white;
  transition: all 0.3s ease-in-out;
}
.header-c {
  align-items: center;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  padding: 30px;
}
.wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.heading-info {
  align-items: center;
  text-align: center;
  margin: 20px 70px;
  background-color: rgb(0, 0, 0);
  font-size: 18px;
  color: rgb(255, 255, 255);
  background-color: rgb(10, 10, 10);
  padding: 10px;
  border-radius: 25px;
  width: 300px;
}
.wrapper-c {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 20px;
}
.Right-c {
  align-items: center;
  padding: 50px;
  background-color: rgb(238, 182, 108);
  border-top-right-radius: 150px;
  border-bottom-left-radius: 150px;
}
.c-logo {
  width: 40px;
  align-items: center;
}
.c-logo2 {
  height: 40px;
  width: 50px;
}
.flex-wrap {
  flex-wrap: wrap;
}

@media only screen and (max-width: 480px) {
  .wrapper {
    display: block;
  }
  .form-main {
    background-color: rgb(245, 245, 245);
    height: 500px;
    border-radius: 25px;
  }
  .field {
    border: none;
    text-decoration: none;
    width: 300px;
    outline: none;
    height: 40px;
    padding: 10px;
    border-radius: 30px;
  }
  .main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    padding: 20px 10px;
  }
  .field-area {
    border: none;
    text-decoration: none;
    width: 300px;
    outline: none;
    height: 150px;
    padding: 30px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .btn-contact {
    background-color: rgb(226, 155, 79);

    width: 300px;
    font-size: 14px;

    height: 40px;
    margin: 0px auto 30px auto;
  }
  .heading-info {
    margin: 10px 10px;
    font-size: 14px;

    width: 200px;
  }
  .wrapper-c {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
  }
  .Right-c {
    align-items: center;
    padding: 40px 10px;
    background-color: rgb(238, 182, 108);
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
  }
  .c-logo {
    width: 20px;
  }
  .c-logo2 {
    height: 30px;
    width: 60px;
  }
  .flex-wrap {
    font-size: 14px;
  }
  .header-c {
    margin-top: 30px;
  }
}
