.main-flex-footer {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.logo-social {
  width: 150px;
  align-items: center;
  text-align: center;
  margin: 10px 100px;
  mix-blend-mode: multiply;
}
.des-f {
  width: 400px;
  line-height: 2;
  flex-wrap: wrap;
}
.flex-social {
  display: flex;
}
.heading-footer {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.links-container-Footer {
  margin-top: 20px;
}
.links-footer {
  padding: 10px;
  text-align: center;
}
.links-footer:hover {
  color: chocolate;
  transition: all ease-in-out 0.5s;
}
.img-footer {
  width: 30px;
}
.main-footer {
  margin-top: 50px;
  background-color: rgb(212, 212, 208);
  padding: 50px;
  border-radius: 25px;
  margin-bottom: 50px;
}
.foot-4 {
  align-items: center;
  margin: auto 0px;
}
.img-footer {
  margin: 10px;
}

@media only screen and (max-width: 480px) {
  .main-flex-footer {
    display: block;
  }
  .logo-social {
    width: 150px;
    align-items: center;
    text-align: center;
    margin: 10px auto;
    mix-blend-mode: multiply;
  }
  .des-f {
    width: 280px;
    line-height: 1.9;
    flex-wrap: wrap;
    margin: 20px auto;
  }
  .foot-3 {
    margin: 20px auto;
  }
  .foot-4 {
    margin: 10px 10px;
  }
  .heading-footer {
    border-radius: 12px;
    color: rgb(0, 0, 0);
    padding: 5px;
  }
}
